body {
  font-family: Arial;
}

.todo-grid,
.todo-input-grid {
  display: grid;
  grid-template-columns: 200px 150px 100px;
  column-gap: 10px;
  row-gap: 10px;
  align-items: center;
}
.todo-input-grid {
  margin-bottom: 10px;
  align-items: stretch;
}
input {
  padding: 8px;
}
button {
  padding: 10px;
  color: white;
  border: none;
  font-size: 15px;
  cursor: pointer;
}
.btn-add {
  background-color: green;
}
.btn-del {
  background-color: darkred;
}

.name-input,
.due-date-input {
  font-size: 15px;
  padding: 6px;
}
